.body{
	background-color: #4682B4;
	font-family: Calibri;
	color: white;
}

.container-fluid {
	margin:0px;
   padding:0px;
}

.middle{	
	text-align:center;
	font-size:20px;
}

.name{
	margin-bottom:0px;
}

p{
	font-size:20px;
	text-align:center;
	padding : 5px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;    
      margin: auto;
  }